<div id="clearance" class="sign-up">
  <h1 class="headinger"> Sign Up </h1>

  <div class="errors">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <% flash.now[:alert] = msg %>
      <% end %>
    </ul>
  </div>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form.html.erb', object: form %>

    <div class="submit-field">
      <%= form.submit "Submit", class: 'button-primary'%>
    </div>

  <% end %>
</div>
