<nav>
  <div class="row nav-row">
    <div class="twelve column nav-wrapper">

      <div class="two column nav-title">
        <a href="/" class="brand-logo">Tab Tree</a>
      </div>
      <div class="four column input-field ">
        <form>
          <div class="search-box">
            <%= form_tag(search_path, id: "search-form") do %>
              <%= search_field_tag("search", params[:search], placeholder: "Search Tabs") %>
              <%= submit_tag("Search", id: "submit", name: nil, class: "button-primary") %>
            <% end %>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
