<nav>
  <div class="row nav-row">
    <div class="twelve column nav-wrapper">

      <div class="two column nav-title">
        <a href="/" class="brand-logo">Tab Tree</a>
      </div>

      <div class="one column ">
      </div>

    </div>
  </div>
</nav>
