<% children.each do |child| %>

    <div class="branch">
      <div class="leaf">
        <p class="clicker" id="srch"> <%= truncate(child.name, length: 9) %></p>
        <div class="editor">
          <%= render "shared/buttons_tabs.html.erb", obj: child %>
          <div class="creation">
            <%= render "shared/create_tab.html.erb", obj: child %>
          </div>
        </div>
      </div>
      <%= render( partial: 'shared/rechild', locals: { children: child.descendents }) if child.children %>
    </div>
<% end %>
