

<% trees.each do |tree| %>
  <h1> <%= tree.id %> </h1>

  <% tree.tabs.each do |tab| %>

    <% if tab.parent.nil? %>
      <div class="trunk" id="root">
        <h3 class="leaf-main" ><%= tab.name %></h3>

        <div class="big-block">

          <% tab.children.each do |child| %>
              <div class="branch">
                <h3 class="leaf" id="child"><%= child.name %></h3> <%# first set of branches %>


                  <% ########### LOOP THIS ##### %>

                  <%= render( partial: 'rechild', locals: { children: child.children }) if child %>

                  <% ########### /LOOP THIS ##### %>
              </div>
          <% end %>

        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
