
<% trees.each do |tree| %>
  <h1> <%= tree.id %> </h1>

  <% tree.tabs.each do |tab| %>

    <% if tab.parent.nil? %>
      <div class="trunk">
        <h3><%= tab.name %></h3>

        <div class="big-block">

          <% ########### LOOP THIS ##### %>
          <% tab.children.each do |child| %>
            <div class="branch">
              <h3 class="leaf">
                <%= child.name %>
              </h3>
            </div>
          <% end %>
          <% ########### /LOOP THIS ##### %>

        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
