<h3> Search Results: </h3>

<% tabs.each do |tab| %>
<h3 class="btn leaf"><%= link_to truncate(tab.name, length: 12), url_with_protocol(tab.url) %>
  <div class="editor">
    <%= render "shared/buttons_tabs.html.erb", obj: tab %>
    <div class="creation">
      <%= render "shared/create_tab.html.erb", obj: tab %>
    </div>
  </div>
<% end %>
