<h1 class="headinger"> Search Results </h1>

<% tabs.each do |tab| %>
  <% cache tab do %>
    <div class="leaf">
    <p class="clicker" id="srch"> <%= truncate(tab.name, length: 9) %></p>
    <div class="editor">
      <%= render( partial: 'shared/rechild_extra', locals: { child: tab }) %>
    </div>
    </div>
  <% end %>
<% end %>
