$primary-color: #1C2528;
$primary-color-dark: darken($primary-color, 30%); //need to change//

$button-color: #33C3F0;
$secondary-color:  #221D3E;
$body-color: rgba(249, 240, 193, .25);

$header-color: #555555; //need to change//
$tag-color: #AAAAAA; //need to change//
$footer-color: #33C3F0;

$display-font: -apple-system, "Cambria", Arial, sans-serif;
