$primary-color: lightblue; //need to change//
$primary-color-dark: darken($primary-color, 30%); //need to change//
$header-color: #555555; //need to change//
$tag-color: #AAAAAA; //need to change//
$footer-color: #FF00e7; //need to change//

$display-font: -apple-system, "Cambria", Arial, sans-serif;
