/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#flash {
  color: red;
}

.trunk {
  text-align: center;
  display: inline-block;
  border: 2px solid black;
  padding-top: 10px;
  margin: 10px;
}

.big-block {
  display: flex;
  .branch {
    border: 1px dotted lightgray;
    display: table-cell;
    text-align: center;
    .leaf {
      border: 1px solid black;
      border-radius: 5px;
      font-size: inherit;
      width: 100px;
      word-wrap: break-word;
      padding: 10px;
      margin: 10px;
      text-decoration: none;
      a {
        text-decoration: none;
      }
      &:hover {
        background: lightblue;
      }
    }
  }
}

/////////////// BUTTONS ///////////////

.add-del-edit {
  padding: 0 5px 0 5px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  margin: 0;
  text-decoration: none;
  &:hover {
    background: lightgreen;
  }
}

.add-del-edit.edit {
  margin: -3px;
  &:hover {
    background: cyan;
  }
}

.add-del-edit.add {
  &:hover {
    background: lightgreen;
  }
}

.add-del-edit.del {
  &:hover {
    background: red;
  }
}

/////////////// BUTTONS ///////////////
