@import 'variables';

.add-del-edit {
  img {
    // -webkit-filter: grayscale(100%);
    opacity: 0.4;
    height: 25px;
    width: 25px;
    padding: 5px;
    &:hover {
      opacity: 1.0;
    }
  }
}

.project-btn {
  img {
    opacity: 0.4;
    height: 15px;
    width: 15px;
    margin-bottom: 15px;
    &:hover {
      opacity: 1.0;
    }
  }
}

.sup-edit {
  img {
    padding: 0;
    padding-right: 5px;
    height: 18px;
    width: 18px;
  }
}

.new-small {
  img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    font-size: small;
  }
}

.leader-badge {
  display: inline-table;
  img {
    height: 18px;
    width: 18px;
    padding-bottom: 15px;
  }
}
