.add-del-edit {
  padding: 0 5px 0 5px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  margin: 0;
  &:hover {
    background: lightgreen;
  }
}

.add-del-edit.edit {
  &:hover {
    background: cyan;
  }
}

.add-del-edit.add {
  &:hover {
    background: lightgreen;
  }
}

.add-del-edit.del {
  &:hover {
    background: red;
  }
}
