@import 'variables';

.add-del-edit {
  img {
    height: 15px;
    width: 15px;
    transition: all .1s;
    &:hover {
      border-bottom: 1px solid $button-color;
      transition: all .1s;
    }
  }
}

//////// ADD A LINE OR SOMETHING UNDER THE ICONS/////
.sup-edit {
  img {
    margin-bottom: 20px;
  }
}
