@import 'variables';

.nav-row {
  margin-bottom: 80px;
}

.nav-wrapper {
  display: flex;
  position: fixed;
  margin-bottom: 20px;
  background-color: $primary-color;
  a {
    color: white;
    font-size: 37px;
    &:hover {
      color: white;
    }
  }
}

.input-field {
  form {
    margin: 0;
    .search-box {
      display: flex;
      margin-top: 10px;
      margin-bottom: 0;

      input {
        margin: 0 1px;

      }
      form {
        margin: 0;
      }
    }
  }
}
