@import 'variables';

.nav-row {
  margin-bottom: 80px;
}

.nav-wrapper {
  z-index: 1;
  position: fixed;
  margin-bottom: 20px;
  background-color: $primary-color;
  display: flex;
  .title-search {
    display: flex;
    width: 99%;
  }
  .nav-title {
    min-width: 164px;
    max-width: 164px;
  }
  a {
    padding: 10px;
    color: white;
    font-size: 37px;
    &:hover {
      color: white;
    }
  }
  .heading-block {
    display: flex;
    margin-left: 5px;
    a {
      font-size: x-large;
      padding: 0;
    }
    .heading {
      padding-top: 10px;
      padding: 10px 0 10px 0;
      margin: 0 10px;
      min-width: 80px;
      text-align: right;
    }
    .in.proj {
      margin: 0 0 0 20px;
    }
    .in.user {
      width: initial;
      min-width: 118px;
    }
    .sign {
      min-width: 100px;
    }
    .home {
      margin-left: 2%;
      border-left: 1px solid black;
    }
  }
}

@media (max-width: 1310px) {
  .nav-wrapper {
    .heading-block {
      a {
        font-size: 2rem;
      }
      .heading {
        padding-top: 10px;
        padding: 15px 0 10px 0;
        margin: 0 10px;
        min-width: 60px;
        // text-align: right;
      }
      .in.sign {
        min-width: 80px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .nav-wrapper {
    .heading-block {
      a {
        font-size: large;
      }
      .heading {
        padding-top: 10px;
        padding: 16px 0 10px 5px;
        margin: 0 5px;
        min-width: 60px;
        text-align: right;
      }
      .in.sign {
        min-width: 80px;
        text-align: left;
      }
    }
  }
}

@media (max-width: 1000px) {
  .nav-wrapper {
    .heading-block {
      a {
        font-size: medium;
      }
      .heading {
        padding-top: 10px;
        padding: 17px 0 10px 5px;
        margin: 0 5px;
        min-width: 45px;
        text-align: right;
      }
      .out.sign {
        min-width: 60px;
      }
      .in.proj {
        margin: 0 20px 0 10px;;
      }
      .in.sign {
        min-width: 80px;
        text-align: left;
      }
    }
  }
}

@media (max-width: 850px) {
  .nav-wrapper {
    display: inline-block;
    .title-search {
      width: auto;
      min-width: 450px;
    }
    .heading-block {
      text-align: left;
      .home {
        border-left: none;
      }
      .in {
        text-align: left;
      }
      .in.user {
        width: initial;
        margin-right: -30px;
      }
    }
  }
  body.container {
    margin-top: 40px;
  }
}

@media (max-width: 550px) {
  .nav-wrapper {
    .title-search {
      min-width: 350px;
    }
  }
}

@media (max-width: 450px) {
  .nav-wrapper {
    #submit {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  #search {
    min-width: 150px;
  }
}

//////////////// SEARCH ////////////////
.columns.input-field {
  margin: 0;
}
.input-field {
  margin: 0;
  form {
    margin: 0;
    .search-box {
      display: flex;
      margin-top: 10px;
      margin-bottom: 0;

      input {
        margin: 0 1px;

      }
      form {
        margin: 0;
      }
    }
  }
}

#search {
  width: 100%;
  min-width: 150px;
}


//////////////// SEARCH ////////////////
