// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';


.captainship {
  font-size: large;
  position: relative;
  bottom: 10px;
  display: inline-block;
  #user_id {
    width: 150px;
  }
  label {
    opacity: 0.4;
  }
}

#captain-form {
  margin-bottom: 0;
}
