// Place all the styles related to the tabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.create-leaf {
  border: 1px solid $secondary-color;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: inherit;
  width: 100px;
  word-wrap: break-word;
  padding: 5px;
  margin: 5px;
  vertical-align: top;
}

.leaf {
  border: 1px solid $secondary-color;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: small;
  width: 100px;
  word-wrap: break-word;
  padding: 5px;
  margin: 5px;
  vertical-align: top;
  .editor {
    display: none;
    transition: all .2s;
  }
  &:hover {
    background: #F0F3FC;
    .editor {
      display: block;
      transition: all .2s;
    }
  }
  a {
    color: $secondary-color;
    text-decoration: none;
  }
}

.leaf-new {
  border: 1px solid $secondary-color;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: small;
  width: 100px;
  word-wrap: break-word;
  padding: 5px;
  margin: 5px;
  vertical-align: top;
  &:hover {
    background: #F0F3FC;
  }
  a {
    color: $secondary-color;
    text-decoration: none;
  }
}

.leaf {
  .creation {
      display: none;
    }
  &:hover {
    width: 200px;
    .creation {
      display: block;
    }
  }
}

.creation {
  #tab_name, #tab_url {
    width: 198px;
  }
  .button-primary {
    width: 198px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
  }
}

.row.new-tree {
  display: flex;
  .creation-field {
    margin-right: 200px;
  }
  .back-block {
    display: flex;
  }
}
.small-tree {
  margin-left: 40px;
}
