// Place all the styles related to the tabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.leaf {
  border: 1px solid $secondary-color;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: inherit;
  width: 100px;
  word-wrap: break-word;
  padding: 10px;
  margin: 10px;
  &:hover {
    background: lightblue;
    box-shadow: 1px 1px 1px;
  }
  a {
    color: $secondary-color;
    text-decoration: none;
  }
}
