// Place all the styles related to the tabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.clicker {
  margin-bottom: 0;
}

.create-leaf {
  border: 1px solid $secondary-color;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: inherit;
  width: 100px;
  word-wrap: break-word;
  padding: 5px;
  margin: 5px;
  vertical-align: top;
}

.leaf {
  border: 1px solid $secondary-color;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: small;
  height: 20px;
  width: 100px;
  word-wrap: break-word;
  padding: 5px;
  margin: 5px;
  vertical-align: top;
  &.active {
    width: 220px;
    height: auto;
    padding: 5px 0 0 0;
    overflow: hidden;
  }
  .editor {
    display: none;
    padding: 5px;
    &.active {
      width: 210px;
      border-top: 1px solid lightgray;
      background: $tree-name-background;
      overflow: hidden;
      display: block;
      .creation {
        width: 210px;
        overflow: hidden;
        display: block;
      }
    }
  }
  a {
    color: $secondary-color;
    text-decoration: none;
  }
}

.leaf-new {
  // border: 1px solid $secondary-color;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: small;
  width: 100px;
  word-wrap: break-word;
  padding: 5px;
  margin: 5px;
  vertical-align: top;
  a {
    color: $secondary-color;
    text-decoration: none;
  }
}

.url-link {
  margin-bottom: 0;
  line-height: 1.0;
  a {
    color: $link-color;
    font-size: medium;
    text-decoration: underline;
  }
}

.creation {
  height: 220px;
  #tab_name, #tab_url {
    width: 208px;
  }
  .button-primary {
    width: 208px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
  }
}

.row.new-tree {
  display: flex;
  .creation-field {
    margin-right: 200px;
  }
}
// .small-tree {
//   margin-left: 40px;
// }
