// Place all the styles related to the trees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.trunk {
  text-align: center;
  display: inline-block;
  border: 2px solid black;
  padding-top: 10px;
  margin: 10px;
}

.big-block {
  display: flex;
  .branch {
    border: 1px dotted lightgray;
    display: table-cell;
    text-align: center;
  }
}

.leaf {
  border: 1px solid black;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: inherit;
  width: 100px;
  word-wrap: break-word;
  padding: 10px;
  margin: 10px;
  &:hover {
    background: lightblue;
    box-shadow: 1px 1px 1px;
  }
}

/////////////// BUTTONS ///////////////

.add-del-edit {
  padding: 0 5px 0 5px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  margin: 0;
  &:hover {
    background: lightgreen;
  }
}

.add-del-edit.edit {
  &:hover {
    background: cyan;
  }
}

.add-del-edit.add {
  &:hover {
    background: lightgreen;
  }
}

.add-del-edit.del {
  &:hover {
    background: red;
  }
}
