// Place all the styles related to the trees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';


.trunk-empty {
  text-align: center;
  display: table;
  border: 2px solid $secondary-color;
  padding-top: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
}


// THIS CHANGES THE DISPLAY OF THE TREE BLOCKS TO BE MORE VERTICAL AND COOL
// .grove {
//   display: inline-block;
//   .trunk {
//     display: block;
//     border-top: 1px solid $secondary-color;
//     border-bottom: 1px solid $secondary-color;
//   }
// }

.mini-tree {
  text-align: center;
  font-size: 1em;
}

.grove {
  border: 2px solid $secondary-color;
  display: inline-flex;
  box-shadow: 5px 5px 5px gray;
  border-radius: 5px;
  margin: 10px;
  .trunk {
    text-align: center;
    display: inline-block;
    border-left: 1px solid $secondary-color;
    border-right: 1px solid $secondary-color;
    padding-top: 10px;
    .big-block {
      .branch {
        border: 1px dotted lightgray;
        display: table-cell;
        text-align: center;
      }
    }
  }
}
