// Place all the styles related to the trees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.trunk {
  text-align: center;
  display: inline-block;
  border: 2px solid $secondary-color;
  padding-top: 10px;
  margin: 10px;
  .big-block {
    display: flex;
    .branch {
      border: 1px dotted lightgray;
      display: table-cell;
      text-align: center;
    }
  }
}
